.allcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
    max-width: 1960px;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.photo {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.photo img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.date {
    color: #f26b8a;
    font-size: 0.9rem;
    font-weight: 600;
}

.Name {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}

.Locate {
    font-size: 0.8rem;
    color: #999;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0px 0px;   

}
.topic {
    font-size: 30px;
    color: black;
    font-family: 'Georgia', serif;
    margin: 0px 0px;   
    padding-right: 1100px;
}
