#promote {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #020202;
    gap: 10%;
}

@media (max-width: 768px) {
    #promote {
        flex-direction: column;
        gap: 20px;
    }
}

#promote .logo {
    margin: 10px 0px;
    padding: 0px 150px;
}

#promote .pic2 {
    flex-shrink: 0;
    width: 100px;
    position: relative;
    left: -40px;
}

#promote .pic1 {
    flex-shrink: 0;
    width: 100px;
}