html{
  font-size: 10px;
}
body{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
#home-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 
    "n n" 75px
    "p p" 150px
    "e e" 450px;
}
#nav{
  grid-area: n;
}
#events-container{
  grid-area: e;
}

#promote{
  grid-area: p;
}
#detail{
  grid-area: d;
}

#detail-layout{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 
    "n n" 75px
    "d d" 700px;
}
