html{
  font-size: 10px;
}
body{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
#home-layout{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 
    "n n" 56px
    "p p" 150px
    "c c" 435px
    "c2 c2";
}
#nav{
  grid-area: n;
}
#content{
  grid-area: c;
}
#content2{
  grid-area: c2;
}
#promote{
  grid-area: p;
}